body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

.container {
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 4rem; /* Taille du titre plus grande */
    margin: 0.5em 0;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #ff3b30;
    color: white;
    padding: 12px 25px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.btn:hover {
    background-color: #ff6347;
}

.btn-text {
    margin-right: 10px;
}

.btn-logo {
    width: 30px;
    height: auto;
}

.circle {
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: red; /* Couleur initiale */
    pointer-events: none; /* Ne bloque pas les clics */
    opacity: 0;
    transition: all 0.3s ease-out;
}
